<div style="display: inline-flex; padding: 10px; overflow-y: auto; position: sticky;">




  <!-- <div style=" display: grid;grid-template-columns: repeat(2, 15fr); height: 500px; overflow-y: scroll; gap: 10px;"> -->

<!-- </div> -->
  <!-- <button mat-raised-button color="primary">
    <mat-icon>menu</mat-icon> Menu
  </button> -->



  <!-- <mat-menu #menu="matMenu">
    <div style=" display: grid;grid-template-columns: repeat(2, 15fr); height: 500px; overflow-y: scroll; gap: 10px;">
      <div  mat-menu-item [id]="item.key" *ngFor="let item of getComponentTitle()"
        class="menu-btn" (click)="onButtonClick(item.key)">
        {{ item.value }}
      </div>
    </div>
  </mat-menu> -->
</div>

<div >

  <section [id]="item.key" *ngFor="let item of getlComponentsVisible()">
    {{item.value}}

    <button (click)="onButtonClick('kjsdj')">lkajah ldjjdj dl   </button>

    <mat-card>
      <mat-card-content>{{allTitle | json}}</mat-card-content>
    </mat-card>

  </section>

</div>
